version: 2
updates:
  - package-ecosystem: 'github-actions'
    directory: '/'
    schedule:
      interval: 'weekly'
      day: 'saturday'
  # Docker checks don't work recursively, so list both directories.
  - package-ecosystem: 'docker'
    directory: '/action-a'
    schedule:
      interval: 'weekly'
      day: 'saturday'
  - package-ecosystem: 'docker'
    directory: '/python-action'
    schedule:
      interval: 'weekly'
      day: 'saturday'
