name: HTTPD service
on: push

jobs:
  test:
    runs-on: ubuntu-20.04
    container: debian:bullseye
    services:
      apache:
        image: httpd:alpine
    steps:
      - uses: actions/checkout@v2
      - name: install Docker client
        run: |
          export DEBIAN_FRONTEND=noninteractive
          apt-get update
          apt-get -y install --no-install-recommends docker.io
      - run: docker pull alpine:latest
      - name: run service container
        run: docker run --rm --detach --network ${{ job.container.network }} --name apache2 httpd:alpine
      - name: run wget in Docker container
        run: |
          docker run --rm --network ${{ job.container.network }} alpine:latest wget -O - http://apache/
          docker run --rm --network ${{ job.container.network }} alpine:latest wget -O - http://apache2/
      - name: show running containers
        run: docker ps
      - name: inspect service container
        run: docker inspect ${{ job.services.apache.id }}
      - name: stop apache2 container
        if: always()
        run: docker stop apache2
