name: Workflow for my Hello World action
on: push

jobs:
  build:
    name: Hello World action
    runs-on: ubuntu-20.04
    steps:
      - uses: actions/checkout@v2
      - name: Check Python paths
        run: |
          for p in python python3 /usr/bin/python3; do
              if which ${p}; then
                  ${p} --version
              fi
          done
      - name: show event type
        run: echo ${{ github.event_name }}
      - uses: ./action-a
        with:
          MY_NAME: 'Mona'
      - uses: ./python-action
        id: tripleadd
        with:
          NUM1: 1
          NUM2: 2
          NUM3: 4
      - run: |
          echo "Triple-Add reports: ${{ steps.tripleadd.outputs.sum }}"
      - uses: ./composite-action
        id: doubleadd
        with:
          num1: 1
          num2: 4
      - run: |
          echo "Double-Add reports: ${{ steps.doubleadd.outputs.sum }}"
      - name: Test color output
        run: |
          print('\u001b[31mHello Red\u001b[0m')
          print('\u001b[32mHello Green\u001b[0m')
        shell: python3 {0}
      - name: set name var
        run: echo "name=luna" >>${GITHUB_ENV}
      - name: condition with string formatting
        if: github.actor == format('airtower-{0}', env.name)
        run: echo "true"

  call-test:
    uses: ./.github/workflows/reusable-echo.yaml
    with:
      test: |
        Hello World!

  process-event:
    name: Process event data
    runs-on: ubuntu-20.04
    steps:
      - name: show event, set tag
        id: gen-tag
        shell: python3 {0}
        run: |
          import json
          import os
          import shlex
          with open(os.environ['GITHUB_EVENT_PATH']) as fh:
              event = json.load(fh)
          print(event['head_commit'])
          tag = event['head_commit']['message'].split()[0]
          print(f'::set-output name=tag::{shlex.quote(tag)}')
      - name: show tag
        run: echo ${{ steps.gen-tag.outputs.tag }}
