name: Reusable echo example with input

on:
  workflow_call:
    inputs:
      test:
        required: true
        type: string

jobs:
  echo:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/github-script@v5.0.0
        id: pre-process
        env:
          TEST: ${{ inputs.test }}
        with:
          script: |
            const { TEST } = process.env
            return TEST.replace(/%/g, '%25')
              .replace(/\r/g, '%0D')
              .replace(/\n/g, '%0A')
          result-encoding: string
      - run: echo "${{steps.pre-process.outputs.result}}"
